/*----------Global styles--------*/
body {
  font-family: Roboto, serif;
  background-color: #1f2937;
}

/*-------------------------------*/
/*----------Header section--------*/
.header-section {
  max-width: 1050px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
header {
  font-size: 24px;
  font-weight: 800;
  color: #f9faf8;
}

ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

li {
  font-size: 18px;
  color: #e5e7eb;
}

li:hover {
  color: white;
}

a {
  text-decoration: none;
}
/*-------------------------------*/
/*----------Hero section--------*/
.hero {
  max-width: 1050px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 70px;
  margin-bottom: 100px;
}

.placeholder {
  width: 520px;
  height: 235px;
  background-color: #6d747d;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

p {
  font-size: 18px;
  color: #e5e7eb;
}

button {
  background-color: #3882f6;
  border: none;
  font-weight: 900;
  color: #e5e7eb;
  font-size: 18px;
  padding: 10px 25px;
  border-radius: 5px;
}

.placeholder p {
  color: #f9faf8;
}

.hero-text {
  max-width: 450px;
}
/*-------------------------------*/

/*----------Information section--------*/
.information {
  height: 500px;
  background-color: #f9faf8;
  display: flex;
  justify-content: center;
  gap: 70px;
  align-items: center;
}

.h1-information {
  color: #1f2937;
  font-size: 36px;
  font-weight: 900;
  text-align: center;
  background-color: #f9faf8;
  margin: 0px;
  padding-top: 42px;
}

.box1,
.box2,
.box3,
.box4 {
  height: 165px;
  width: 165px;
  border: 4px solid #3b82f6;
  border-radius: 15px;
}

.box1p,
.box2p,
.box3p,
.box4p {
  font-size: 18px;
  color: #4b5563;
  text-align: center;
  margin-top: 10px;
}

.item1,
.item2,
.item3,
.item4 {
  height: 235px;
  width: 165px;
}

/*-------------------------------*/
