/*----------Global styles--------*/
body {
  font-family: Roboto, serif;
  background-color: #1f2937;
}
/*-------------------------------*/
/*----------Header section--------*/

.header-section {
  max-width: 1050px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
header {
  font-size: 24px;
  font-weight: 800;
  color: #f9faf8;
}

ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

li {
  font-size: 18px;
  color: #e5e7eb;
}

a {
  text-decoration: none;
}
/*-------------------------------*/
